@charset "UTF-8";
/* CSS Document */

footer{
	background-color: #000;
	height: auto;
	width: auto;
}

.ease-all{
	-webkit-transition: all 350ms ease-in-out;
	-moz-transition: all 350ms ease-in-out;
	-ms-transition: all 350ms ease-in-out;
	-o-transition: all 350ms ease-in-out;
	transition: all 350ms ease-in-out;
}

.hide-text{
	display: block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.social{ 
	text-align: center;
	display:inline-block;

}
	
.follow-us{
	font-family: 'Poiret One', cursive;
	font-size: 1.5rem;
	color: #FFF;
	position:relative;
	top: -20px;
	padding-left: 1rem;
	text-align: center;
}

.social a{
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 0 auto;
	text-align: center;
	
	-webkit-border-radius: 20px;
	-mox-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	
	color: #fbe6ec;
	
	/*background-color: #222; */
	-webkit-box-shadow: inset 0px 0px 0px 40px #222;
	-moz-box-shadow: inset 0px 0px 0px 40px #222;
	-ms-box-shadow: inset 0px 0px 0px 40px #222;
	-o-box-shadow: inset 0px 0px 0px 40px #222;
	box-shadow: inset 0px 0px 0px 40px #222;
}

.social i {
	margin-top: 0.5rem;
	text-align: center;
}

.social a:hover,
.social:active,
.social:focus{
	-webkit-box-shadow: inset 0px 0px 0px 3px #222;
	-moz-box-shadow: inset 0px 0px 0px 3px #222;
	-ms-box-shadow: inset 0px 0px 0px 3px #222;
	-o-box-shadow: inset 0px 0px 0px 3px #222;
	box-shadow: inset 0px 0px 0px 3px #222;
	
	color: #DEDEDE;
}