@charset "UTF-8";
/* CSS Document */

.logo {
}

.header {
	background-color: #494949;
	height: 10rem;
	font-family: 'Loved by the King', cursive;
	color: #c7c0ae;
	text-align: center;
	margin-bottom: .25rem;
	 
}

.tfheader {
}

