# Accessibility Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {Stephen Pollock}
- {Evan Grice}
- {Mark Collantes}
- {Daniela Chavez}
- {Jared Lebel}
- {Jared Label}

## Tasks

1. {Find shopping page}
2. {Get a Product description}
3. {Buy an Item}

---

## Individual Results & Observations

### {Mark Collantes} voice over

- {He completed the task as expected…}
- {He had no troubles completing a specific task…}

### Daniela Chavez (Voice over)

- No problems, only suggestion would be that when  using Ctrl+Opt+U the titles of the bags were things such as "Small Birds" which may not be the easiest to identify as purses. 

### Evan Grice

- He completed the task as expected…
- He had troubles completing a specific task…
- etc.

### Jared Lebel (voice)
- He completed the task as expected…}
- He had troubles completing a specific task…
- etc.

### Stephen Pollock

- He completed the task as expected…
- He had troubles completing a specific task…
- etc.

### Jared Lebel (voice)
- He completed the task as expected…}
- He had troubles completing a specific task…
- etc.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had this problem…}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}
- etc.