# User Testing Report

User testing was conducted by {Shawna Guy} on {March 24 2014} between the times of {start time} and {end time} with the following participants:

- {Stephen Pollock}
- {Evan Grice}
- {Daniela}

## Tasks

1. {Purchase Tote Bag}
2. {Get info on product}
3. {Search through different styles}

---

## Individual Results & Observations

### {Evan Grice}

- {He clicked on the link as expected…}
- {He had no trouble completing task}
- {She asked these questions…}
- {Fill in any observations that were important/relevant…}
- etc.

### {Daniela}

- {She clicked on the link as expected…}
- {She had no troubles completing a specific task…}
- {She suggested Thank you link be Checkout instead}
- {Fill in any observations that were important/relevant…}
- etc.

### {Stephen Pollock}

- {He clicked on the link as expected…}
- {He had no troubles completing a specific task…}
- {He also suggested Thank you be changed to Checkout}
- {Fill in any observations that were important/relevant…}
- etc.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had this problem…}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}
- etc.