---
layout: default
title: products
showbanner: yes
category: category
name: OTHER BAGS
image: other-bags.jpg
---

<div class="grid">
	<div class="unit unit-s-1 unit-m-1-2 unit-1-1-3">
		<h1>Tote Bags</h1>
	</div>

	<div class="unit unit-s-1 unit-m-1-2 unit-1-2-3">
	</div>
</div>

<ul class="grid">
	{% for tote in site.pages %}
	{% if tote.category == 'other-tote' %}
	<li>
		<a href="{{site.base.url}}{{tote.url}}" class="unit unit-s-1 unit-m-1-3 unit-l-1-3">
			<img src="{{site.base.url}}/images/{{tote.image}}" alt="" class="flex-img">
			{{tote.name}}
		</a>
	</li>
	{% endif %}
	{% endfor %}
</ul>