<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}} /Totes</title>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="http://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Loved+by+the+King' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Cinzel:400,700,900' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/search-field.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/media-object.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/icons.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/product.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/promos.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/search-field.css" rel="stylesheet">
</head>
<body>

<header>
    <a href="" class="home"><img src="{{site.baseurl}}/images/logo.svg" alt="Logo" class="logo"></a>
  
  <nav>
    <ul class="list-group">
      <li class="list-group-item list-group-item-inline"><a href ="{{site.baseurl}}/" class="nav-btn nav-border nav-alt">Home</a></li>
      <li class="list-group-item list-group-item-inline"><a href ="{{site.baseurl}}/about/" class="nav-btn nav-border nav-alt">About</a></li>
       <li class="list-group-item list-group-item-inline"><a href ="{{site.baseurl}}/products/" class="nav-btn nav-border nav-alt">Shop</a></li>
      <li class="list-group-item list-group-item-inline"><a href ="{{site.baseurl}}/thank-you/" class="nav-btn nav-border nav-alt">Thank You</a></li>
  
    </ul>
  </nav>

  <div id="tfheader">
    <form id="tfnewsearch" method="get" action="http://www.google.com">
            <input type="text" class="tftextinput" name="q" size="21" maxlength="120"><input type="submit" value="search" class="tfbutton">
    </form>
  <div class="tfclear"></div>
  </div>

</header>

{% if page.showbanner%}
<div class="banner">
  <h2>{{page.bannertext}}</h2>
</div>
{% endif %}

{{content}}

<footer>
<span class="follow-us">Follow us</span> 
    <section class="social">
      <a class="ease-all" href=""><i class="fa fa-facebook fa-2x"></i><span class="hide-text"></span></a>
    </section>
    
    <section class="social">
      <a class="ease-all" href=""><i class="fa fa-instagram fa-2x"></i><span class="hide-text"></span></a>
    </section>

    <section class="social">
      <a class="ease-all" href=""><i class="fa fa-twitter fa-2x"></i><span class="hide-text"></span></a>
    </section>

    <a class="btn btn-alt exa">Contact</a>
    
    <a class="btn btn-alt exa">Society 6</a>

    <h5>© 2014 Totes</h5>

</footer>

</body>
</html>