/*
  Colour Palette
  - Dark green: #060 - rgb(0, 100, 0)
  - Dark red: #600 - rgb(100, 0, 0)
 */
 
body{
background-color: #FFF7EB;
}

h1, h2, h3, h4, h5, h6, 
p, ul, ol, dl, 
blockquote, table, hr{
  margin: 0 0 1.5rem;
}

.yotta {
 font-size: 2.2807rem;
 line-height: 1.3154;
}

.zetta {
  font-size: 2.0273rem;
  line-height: 1.4798;
}

h1, .exa {
  font-size: 1.8020rem;
  line-height: 1.6648;
  color: #3B3027;
}

h2, .peta {
  font-size: 1.6018rem;
  line-height: 1.8729;
  color: #634B31;
}

h3, .tera {
  font-size: 1.4238rem;
  line-height: 1.0535;
  color: #935514;
}

h4, .giga {
  font-size: 1.2656rem;
  line-height: 1.1852;
  color: #937C14;
}

h5, .mega {
  font-size: 1.1250rem;
  line-height: 1.3333;
  color: #939114;
}

h6, .kilo {
  font-size: 1.0000rem;
  line-height: 1.5000;
  color: #93A614;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica, Sans-serif;
}

small, .milli {
  font-size: 0.8889rem;
  line-height: 1.6875;
}   

.micro {
  font-size: 0.7901rem;
  line-height: 1.8984;
}

mark {
	background-color: rgba(19,197,180,.40);
}

blockquote{
	margin-left: 1.5rem;
	color: #3B3027;
}

blockquote footer {
	color: #989797;
	display: block;
	text-align: right;
}

p {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}

em {
	color: #93A614;
}

.brand-family {
	font-family: Helvetica, sans-serif;	
}

.brand-color, 
.brand-colour{
	color: purple;
}

::selection {
	background-color: #FF8CD1;
	color: #fff;
}

a,
a:link {
	color: #014C59;
	text-decoration: none;
	border-bottom: 0.1rem solid rgba(0,85,134,.5);
	transition: all 200ms linear;
}
	
a:visited {
	color: #34AD78;
	border-bottom-color: rgba(32,172,104,0.5);
}

a:hover {
	color: #C5BC14;
	border-bottom-color: #C5BC14;
}

ul {
	list-style-type: none;
}

ul li:before {
	content: "▸";
	color: #666;
	padding: .5rem;
}

ol {
	list-style-type: none;
}

ol li:before {
	content: "⤞";
	color: #666;
	padding: .5rem;
}

dl dt:before {
	content: "⤘";
	color: #666;
	position: absolute;
	left: -1.5em;
}

table, td, th {
	border-collapse: collapse;
	border: 1px solid #383737;
}

thead, th {
	text-align: center;
	background-color: rgba(147,166,20,.20);
}

caption {
	margin-bottom: 1.5rem;
	line-height: 1.3154;
}

th, td {
	padding: .25em .5em;
}